<hr/>
<div id="footer">
	 <div id="row">
	  	<div id="cell"><%= link_to 'CONTACT', home_contact_path%></div>
	  	<div id="cell"><%= link_to 'HOME', home_index_path %></div>
	  	<div id="cell"><%= link_to 'ABOUT', home_about_path %></div>
	</div>
</div>